<app-nav>Loading..</app-nav>
<header style="background-image: url('assets/img/froppings/header.png')">    
         <div class="inner-bg ">
                <div class="container">
                    <div class="row registrationform">
                        <div class="col-sm-7 text">
                            <h1><strong>Nos alegra que estes de vuelta</strong><br></h1>
                            <div class="description">
                            	<p><br>
	                            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna nisl, semper vel ex gravida, auctor euismod velit. Suspendisse varius ipsum sit amet magna tristique, eget faucibus eros cursus. Morbi elit diam, imperdiet a venenatis quis, ultrices ac justo. Aliquam lobortis semper nisi tincidunt ullamcorper. 
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Inicia sesion</h3>
                            		<p>Lorem ipsum dolor sit amet, consectetur</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="registration-form">
			                        <div class="form-group">
			                        	<input type="text" name="form-last-name" placeholder="Usuario" class="form-last-name form-control" id="form-last-name">
			                        </div>
			                       <div class="form-group">
			                        	<input type="text" name="form-last-name" placeholder="Contraseña" class="form-last-name form-control" id="form-last-name">
			                        </div>
                                    <br>
			                        <button type="submit" class="btn btn-outline-dark">entrar</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>                
    </header>
<app-footer>Loading..</app-footer>
