<app-nav>Loading..</app-nav>
<header style="background-image: url('assets/img/froppings/header.png')">    
         <div class="inner-bg ">
                <div class="container">
                    <div class="row registrationform">
                        <div class="col-sm-7 text">
                            <h1><strong>Nos alegra que estes de vuelta</strong><br></h1>
                            <div class="description">
                            	<p><br>
	                            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna nisl, semper vel ex gravida, auctor euismod velit. Suspendisse varius ipsum sit amet magna tristique, eget faucibus eros cursus. Morbi elit diam, imperdiet a venenatis quis, ultrices ac justo. 
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Inicia sesion</h3>
                            		<p>Lorem ipsum dolor sit amet, consectetur</p>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form   #form="ngForm" (ngSubmit)="onSubmit(form)" class="registration-form">
			                        <div class="form-group">
			                        	<input type="email" ngModel name="email" placeholder="Correo" class="form-last-name form-control" id="correo">
			                        </div>
			                       <div class="form-group">
			                        	<input type="password" ngModel name="contrasena" placeholder="Contraseña" class="form-last-name form-control" id="contrasena">
			                        </div>
                                    <br>
			                        <button type="submit" [disabled]="!form.valid" class="btn btn-outline-dark">entrar</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>                
    </header>
<app-footer>Loading..</app-footer>
