    <!-- Navigation -->
    <!-- Note: navbar-default and navbar-inverse are both supported with this theme. -->
    <app-nav>Loading..</app-nav>
    <!-- Instructions: Set your background image using the URL below. --> 
     <header style="background-image: url('assets/img/froppings/header.png')">
        <div class="intro-content">
            <img src="assets/img/froppings/logo.png" class="img-responsive img-centered" alt="">
        </div>
        <div class="scroll-down">
            <a class="btn page-scroll" href="#values"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>
    <section id="values" class="services">
        <div class="container page-scroll">
            <div class="row text-center">
                <div class="col-lg-12 wow fadeIn">
                    <h2>Quiénes somos</h2>
                    <hr class="colored">
                    <p>Heladería Froppings, somos una empresa Venezolana familiar dedicada a la producción y comercialización de helados, caracterizados por nuestras autenticas mezclas, rico sabor, cremosidad y valor nutricional. Tenemos una amplia variedad de productos que van desde postres hasta batidos frutales, con elevados estándares de calidad para así darles a nuestros clientes lo mejor</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4 wow fadeIn" data-wow-delay=".2s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="media-body textcenter">
                            <h3 class="media-heading">Misión</h3>
                            <em>Nuestra misión es elaborar helados y productos con alto valor nutricional, ofreciendo una amplia variedad de productos y sabores utilizando los mejores ingredientes del mercado nacional venezolano, contamos con un personal altamente calificado para trabajar en el área, garantizando así los más altos estándares de calidad pensando siempre en el bienestar de nuestra amada clientela</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".4s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-cutlery"></i>
                        </div>
                        <div class="media-body textcenter">
                            <h3 class="media-heading">Visión</h3>
                            <em>Ser pioneros en la producción y comercialización de helados en todo el territorio nacional, desarrollando, innovando y diversificando nuestra cartera de productos ofreciendo así productos con la más alta calidad y precios competitivos en el mercado de postres</em>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay=".6s">
                    <div class="media">
                        <div class="pull-left">
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Valores</h3>
                            <ul>
                                <li><em>Responsabilidad</em>
                                </li>
                                <li><em>Colaboración</em>
                                </li>
                                <li><em>Trabajo en equipo</em>
                                </li>
                                <li><em>Amor </em>
                                </li>
                                <li><em>Compromiso por el trabajo </em>
                                </li>
                                <li><em>Respeto al consumidor</em>
                                </li>
                                <li><em>Lealtad</em>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <aside class="cta-quote" style="background-image: url('assets/img/culinary/bg-aside.jpg');">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <span class="quote">Truly great great food is a combination of quality ingredients, creativity, and attention to detail.</span>
                    <hr class=" colored">
                    <a class="btn btn-outline-light page-scroll" href="#contact">Try Some of Ours</a>
                </div>
            </div>
        </div>
    </aside>
    <section id="people">
        <div class="container text-center wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>People</h2>
                    <p>We are a group of professionals and artisan chefs with a passion for culinary excellence.</p>
                    <hr class="colored">
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="about-carousel">
                        <div class="item">
                            <img src="assets/img/culinary/people/2.jpg" class="img-responsive" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="press" class="testimonials bg-gray">
        <div class="container wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Press</h2>
                    <hr class="colored">
                    <p>Here's what the critics are saying.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="testimonials-carousel">
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-12">
                                    <p class="lead">"Working with Vitality was both a valuable and rewarding experience."</p>
                                    <p class="quote">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati vero ipsam aut fugit?</p>
                                    <div class="testimonial-info">
                                        <div class="testimonial-img">
                                            <img src="assets/img/testimonials/1.jpg" class="img-circle img-responsive" alt="">
                                        </div>
                                        <div class="testimonial-author">
                                            <span class="name">Jim Walker</span>
                                            <p class="small">CEO of GeneriCorp</p>
                                            <div class="stars">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="cta-form bg-dark services">
        <div class="container text-center">
            <h3>Nuestras redes sociales</h3>
            <hr class="colored">
            <div class="row text-center" data-wow-delay=".4s">
                    <div class="media ">
                            <a  target="_blank" href="https://www.facebook.com/froppings/?fref=ts"><i class="fa fa-facebook separator"></i></a>
                            <a  target="_blank" href="http://instagram.com/froppings"><i class="fa fa-instagram textcenter"></i></a>
                    </div>
                </div>
        </div>
    </section>
    <section id="hours" class="pricing" style="background-image: url('assets/img/culinary/bg-pricing.jpg')">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Hours</h2>
                    <hr class="colored">
                    <p>We serve breakfast, lunch, and dinner every day of the week.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Breakfast</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>Mon - Thu: 7am - 11am</em>
                            </li>
                            <li class="list-group-item"><em>Fri: 7am - 12pm</em>
                            </li>
                            <li class="list-group-item"><em>Sat: 7am - 3pm</em>
                            </li>
                            <li class="list-group-item"><em>Sun: All Day</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="#" class="btn btn-outline-dark">Book Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Lunch</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>Mon - Thu: 11am - 3pm</em>
                            </li>
                            <li class="list-group-item"><em>Fri: 11am - 5pm</em>
                            </li>
                            <li class="list-group-item"><em>Sat: 11am - 3pm</em>
                            </li>
                            <li class="list-group-item"><em>Sat: 11am - 3pm</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="#" class="btn btn-outline-dark">Book Now</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-item">
                        <h3>Dinner</h3>
                        <hr class="colored">
                        <ul class="list-group">
                            <li class="list-group-item"><em>Mon - Thu: 5pm - 10pm</em>
                            </li>
                            <li class="list-group-item"><em>Fri: 5pm - Late</em>
                            </li>
                            <li class="list-group-item"><em>Sat: 5pm - Late</em>
                            </li>
                            <li class="list-group-item"><em>Sun: 5pm - 10pm</em>
                            </li>
                        </ul>
                        <hr class="colored">
                        <a href="#" class="btn btn-outline-dark">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="menu">
        <div class="container wow fadeIn">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Menu</h2>
                    <hr class="colored">
                    <p>Here is a selection of items from our menu. Please call for additional details.</p>
                </div>
            </div>
            <div class="row content-row">
                <div class="col-lg-12">
                    <div class="portfolio-gallery">
                        <div class="item">
                            <a href="assets/img/culinary/menu/1.jpg" class="gallery-link" title="Czech Honey Cake">
                                <img src="assets/img/culinary/menu/1.jpg" class="img-responsive img-centered" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a class="btn btn-block btn-full-width">¿Qué esperas? Ven a vistarnos!</a>
    <app-footer>Loa</app-footer>
