<div class="row button-action">
    <div class="col-md-4">
        <button type="button" class="btn button-dashboard" [routerLink]="['/dashboard/usersAdmin']">Crear Usuario</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn button-dashboard" [routerLink]="['/dashboard/modifyUser']">Modificar Usuario</button>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn button-dashboard" [routerLink]="['/dashboard/deleteUser']"> Eliminar Usuario</button>
    </div>
</div>