<div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <img src="assets/img/froppings/froppings.png" class="img-responsive">
        </div>

        <ul class="nav">
            <li routerLinkActive="active">
                <a [routerLink]="['/dashboard/points']">
                    <i class="pe-7s-graph"></i>
                    <p>Puntos</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="authUser.rol=='Administrador' ">
                <a [routerLink]="['/dashboard/usersAdmin']">
                    <i class="pe-7s-ticket"></i>
                    <p>Usuarios</p>
                </a>
            </li>
            <li routerLinkActive="active" *ngIf="authUser.rol=='Administrador' ">
                <a [routerLink]="['/dashboard/reports']">
                    <i class="pe-7s-box1"></i>
                    <p>Reportes</p>
                </a>
            </li>
            <li routerLinkActive="active">
                <a [routerLink]="['/dashboard/profile']">
                    <i class="pe-7s-box1"></i>
                    <p>Perfil</p>
                </a>
            </li>
            <li class="active-pro">
                <a (click)="cerrarsesion()">
                    <i class="pe-7s-rocket"></i>
                    <p>Cerrar sesión</p>
                </a>
            </li>
        </ul>
    </div>
</div>