<div class="container-fluid relative">
    <app-button-nav></app-button-nav>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h3 class="title">Eliminar Usuario</h3>
                </div>
                <div class="content">
                    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                        <div class="row" style="margin: 10px; margin-bottom: 10px;">
                            <div class="col-md-6 col-md-offset-2">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" ngModel placeholder="Correo Electrónico">
                                </div>
                            </div>
                            <div class="col-md-2 ">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info btn-fill pull-right">Eliminar Usuario</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>