 <footer class="footer" style="background-image: url('assets/img/froppings/header.png')">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p>555-213-4567</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p>3481 Melrose Place
                        <br>Beverly Hills, CA 90210</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:mail@example.com">mail@example.com</a>
                    </p>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">Copyright © 2016 Froppings Derechos Reservados. <br> Desarolado por: Erika Gutiérrez</p>
                </div>
            </div>
        </div>
    </footer>
