 <app-nav>Loading..</app-nav>
<header style="background-image: url('assets/img/froppings/header.png')">
       
         <div class="inner-bg ">
                <div class="container">
                    <div class="row registrationform">
                        <div class="col-sm-7 text">
                            <h1><strong>Comunicate con nosotros</strong><br></h1>
                            <div class="description">
                            	<p><br>
	                            	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna nisl, semper vel ex gravida, auctor euismod velit. Suspendisse varius ipsum sit amet magna tristique, eget faucibus eros cursus. Morbi elit diam, imperdiet a venenatis quis, ultrices ac justo. Aliquam lobortis semper nisi tincidunt ullamcorper. 
                            	</p>
                            </div>
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Contactanos</h3><br>
                        		</div>
                            </div>
                             <div class="form-bottom">
			                    <form  #form="ngForm" (ngSubmit)="onSubmit(form)" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="nombre">First name</label>
			                        	<input type="text" ngModel name="nombre" placeholder="Nombre Completo" class="form-first-name form-control" id="nombre">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="email">Email</label>
			                        	<input type="text" ngModel name="email" placeholder="Correo electronico" class="form-email form-control" id="email">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="mensaje">About yourself</label>
			                        	<textarea name="mensaje" ngModel placeholder="Mensaje" 
			                        				class="form-about-yourself form-control" id="mensaje"></textarea>
			                        </div>
			                        <button type="submit" class="btn btn-outline-dark">Contáctanos</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>                
    </header>
<app-footer>Loa</app-footer>